hetzner_cloud_token        = "XXX"
ubuntu_user_ssh_public_key = "ssh-ed25519 XXX"
server_name                = "my-server"
cod2_binaries_git_url      = "https://x-access-token:github_pat_XXX@github.com/your-user/cod2-binaries.git"
